# Server & Authentication Configuration
PORT=5001
JWT_SECRET="replace-with-a-long-random-secret-at-least-32-chars"
MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER/DATABASE"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"
